<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.system.manager.mapper.EmployeeMapper">

    <resultMap id="UserInfoMap" type="com.micro.system.manager.model.json.UserInfoJson">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="phone_call" jdbcType="VARCHAR" property="phone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>

    <select id="queryUserInfo" parameterType="com.micro.system.manager.model.form.user.UserInfoForm"
            resultMap="UserInfoMap">
        select id, user_name, age, gender, phone_call, address from ms_user_info
        <where>
            <if test='userName != null and userName != "" '>
                user_name = #{userName}
            </if>
            <if test='cipherPassWord != null and cipherPassWord != "" '>
                and user_password = #{cipherPassWord}
            </if>
        </where>
    </select>

    <insert id="modifyUserInfo" parameterType="com.micro.system.manager.model.entity.AddUser">
        <!--判断是否存在相同的用户名-->
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) from ms_user_info where user_name = #{userName}
        </selectKey>
        <!--不存在进行新增-->
        <if test="count==0">
            insert into ms_user_info
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test='userName != null and userName != "" '>
                    user_name,
                </if>
                <if test='userPassword != null and userPassword != "" '>
                    user_password,
                </if>
                <if test='userAge != null and userAge != "" '>
                    age,
                </if>
                <if test='gender != null and gender != "" '>
                    gender,
                </if>
                <if test='phone != null and phone != "" '>
                    phone_call,
                </if>
                <if test='address != null and address != "" '>
                    address,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test='userName != null and userName != "" '>
                    #{userName},
                </if>
                <if test='userPassword != null and userPassword != "" '>
                    #{userPassword},
                </if>
                <if test='userAge != null and userAge != "" '>
                    #{userAge},
                </if>
                <if test='gender != null and gender != "" '>
                    #{gender},
                </if>
                <if test='phone != null and phone != "" '>
                    #{phone},
                </if>
                <if test='address != null and address != "" '>
                    #{address},
                </if>
            </trim>
        </if>
        <!--存在进行更新-->
        <if test="count > 0">
            update ms_user_info
            <set>
                <if test='userPassword != null and userPassword != "" '>
                    user_password = #{userPassword},
                </if>
                <if test='userAge != null and userAge != "" '>
                    age = #{userAge},
                </if>
                <if test='gender != null and gender != "" '>
                    gender = #{gender},
                </if>
                <if test='phone != null and phone != "" '>
                    phone_call = #{phone},
                </if>
                <if test='address != null and address != "" '>
                    address = #{address},
                </if>
            </set>
            <where>
                <if test='userName != null and userName != "" '>
                    user_name = #{userName}
                </if>
            </where>
        </if>
    </insert>

    <delete id="removeUserInfo" parameterType="com.micro.system.manager.model.form.user.UserInfoForm">
        delete
        from ms_user_info
        where user_name = #{userName}
    </delete>

</mapper>